

body{
    background-image: url(nature.jpg);
    
}


label {
  display: inline-block;
  width: 100;
  text-align: right;
  vertical-align: top;
}

.button-bar {
  text-align: right;
}

input[type=text] {
  width: 200px;
}

textarea {
  width: 190;
  height: 100;
}


#menu {
  margin: auto;
  background-color:none;
}
form{
    background-color: #ffb3b3;
    padding: 15px;
    width: 200px;
    margin: 100px auto;
}
#logout{
  margin-left: 36;
  margin-top: 20;
}
#to{
  margin-top: 15;
}
#message{
  margin-top: 15;
  margin-left: 2;
}